<launch>
    <arg name="map_package"     default="ssr_stage" />
    <arg name="map_path"        default="maps/stage_empty.yaml" />
    <arg name="map_frame"       default="/map" />
    <arg name="map_topic"       default="/map" />

        <!-- Mapping -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(eval find(map_package) + '/' + map_path)" respawn="false" >
        <param name="frame_id" value="/map" />
        <remap from="map" to="$(arg map_topic)" />
    </node>
</launch>