<launch>
<!-- Get location of configuration files from node creator -->
  <arg name="config_pkg" doc="Name of package containing robot and map config files\nEx: ssr_stage" />
  <arg name="config_folder" doc="Folder containing robot and map config files, relative to config_pkg root\nEx: config/minibot" />

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <!-- Define your move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find $(arg config_pkg))/$(arg config_folder)/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find $(arg config_pkg))/$(arg config_folder)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find $(arg config_pkg))/$(arg config_folder)/local_costmap_params.yaml"  command="load" />
    <rosparam file="$(find $(arg config_pkg))/$(arg config_folder)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find $(arg config_pkg))/$(arg config_folder)/base_local_planner_params.yaml" command="load" />

    <remap from="map" to="/map" />
  </node>
</launch>
