<launch>
    <arg name="stage_sim"   default="multi_bot_obstacles.launch" />
    <arg name="map_file1"    default="stage_no_holes.yaml" />
    <arg name="map_file2"    default="stage_obstacles.yaml" />
    <arg name="waypoints"   default='0' />
    <arg name="robotName1"  default="robot_0" />
    <arg name="robotName2"  default="robot_1" />
    <arg name="robotName3"  default="robot_2" />

    <master auto="start"/>
    <param name="/use_sim_time" value="true"/>

    



    <!-- BEGIN ROBOT 0 (dumper)-->
    <group ns="dumper">
        <param name="tf_prefix" value="$(arg robotName1)" />
        <include file="$(find multi_robot_path_planner)/launch/single_robot.launch">
            <arg name="namespace"       value="$(arg robotName1)"/>
            <arg name="initial_pose_x"  value="1.3"/>
            <arg name="initial_pose_y"  value="1.0"/>
            <arg name="initial_pose_a"  value="0.0"/>
            <arg name="environment"     value="stage" />
            <arg name="robot"           value="dumper" />
            <arg name="localization"    value="fake_localization" />
            <arg name="single_bot"      value="false"/>
            <arg name="map_topic"       value="/map2" />
        </include>
    </group>
    <!-- END ROBOT 0 (dumper)-->

    <!-- BEGIN ROBOT 1 (digger)-->
    <group ns="digger">
        <param name="tf_prefix" value="$(arg robotName1)" />
        <include file="$(find multi_robot_path_planner)/launch/single_robot.launch">
            <arg name="namespace"       value="$(arg robotName2)"/>
            <arg name="initial_pose_x"  value="1.15"/>
            <arg name="initial_pose_y"  value="1.3"/>
            <arg name="initial_pose_a"  value="0.0"/>
            <arg name="environment"     value="stage" />
            <arg name="robot"           value="digger" />
            <arg name="localization"    value="fake_localization" />
            <arg name="single_bot"      value="false"/>
            <arg name="map_topic"       value="/map1" />
        </include>
    </group>
    <!-- END ROBOT 1 (digger)-->

    <!-- BEGIN ROBOT 2 (transporter)-->
    <group ns="transporter">
        <param name="tf_prefix" value="$(arg robotName1)" />
        <include file="$(find multi_robot_path_planner)/launch/single_robot.launch">
            <arg name="namespace"       value="$(arg robotName3)"/>
            <arg name="initial_pose_x"  value="1.0"/>
            <arg name="initial_pose_y"  value="1.0"/>
            <arg name="initial_pose_a"  value="0.0"/>
            <arg name="environment"     value="stage" />
            <arg name="robot"           value="transporter" />
            <arg name="localization"    value="fake_localization" />
            <arg name="single_bot"      value="false"/>
            <arg name="map_topic"       value="/map2" />
        </include>
    </group>
    <!-- END ROBOT 2 (transporter)-->

    <node pkg="tf2_ros" type="static_transform_publisher" name="vive_to_map"
    args="1.89 0  0  0 0 0 1  /map /vive" />

    <!-- Visualization with RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_path_planner)/multi_robot.rviz" />

</launch>