<launch>
    <arg name="single" default="false" />
    <!-- Visualization with RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_path_planner)/single_robot.rviz" if="$(arg single)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_path_planner)/multi_robot.rviz" unless="$(arg single)" />
</launch>