<launch>
    <arg name="stage_sim"   default="single_bot_obstacles.launch" />
    <arg name="waypoints"   default='0' />
    <arg name="robotName1"  default="dumper" />

    <master auto="start"/>
    <param name="/use_sim_time" value="true"/>

    <!-- Mapping -->
    <include file="$(find multi_robot_path_planner)/move_base_config/slam_gmapping.xml">
        <arg name="scan_topic"      value="$(arg robotName1)/base_scan"/>
        <arg name="odom_frame"      default="odom"/>
        <arg name="map_frame"       default="/map"/>
        <arg name="tf_prefix"       default="$(arg robotName1)"/>
        <arg name="single_bot"      default="true" />
    </include>

    <!-- Stage -->
    <include file="$(find ssr_stage)/launch/$(arg stage_sim)" />

    <!-- BEGIN ROBOT 0 (dumper)-->
    <group ns="$(arg robotName1)">
        <include file="$(find multi_robot_path_planner)/launch/single_robot.launch">
            <arg name="namespace"       value="$(arg robotName1)"/>
            <arg name="initial_pose_x"  value="1.0"/>
            <arg name="initial_pose_y"  value="1.0"/>
            <arg name="initial_pose_a"  value="0.0"/>
            <arg name="environment"     value="stage" />
            <arg name="robot"           value="$(arg robotName1)" />
            <arg name="localization"    value="none" />
            <arg name="single_bot"      value="true"/>
        </include>
    </group>
    <!-- END ROBOT 0 (dumper)-->

    <!-- Visualization with RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_path_planner)/single_robot.rviz" />

</launch>